<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A brief description of your webpage" />
  <title>Page Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
  <header>
    <h1>Access Denied</h1>
  </header>
  <div>
    <a href="\">Go to Mainpage</a>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
