<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A brief description of your webpage" />
  <title>Page Title</title>

  <link rel="stylesheet" href="styles.css" />

  <link rel="icon" href="favicon.ico" type="image/x-icon" />


</head>

<body>

  <header>
    <h1>Website Name</h1>
    <nav>
      <ul>
        <li><a href="#inputs">Input</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="inputs">
      <h2>Add the all the data below</h2>
      <input type="text" id = "input" name="input_t" placeholder="Enter your input:">
      <button type = "submit" id="Btn_input">
    </section>
    <p id="responseText"></p>
  </main>

  <footer>
    <p>&copy; 2025 Your Name. All rights reserved.</p>
  </footer>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
