<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A brief description of your webpage" />
  <title>Page Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
  <header>
    <h1>Uncertainty Propagator</h1>
  </header>
  <main>
    <section id="inputs">
      <h2>Write the formula, varibles, units (SI format) and all known uncertainties for the calculation in text or LateX form</h2>
      <textarea id="input" placeholder="Enter your input:"></textarea>
      <button type = "submit" id="Btn_input">
    </section>
    <p id="responseText"></p>
  </main>
  <footer>
    <input type="checkbox" id="full_work">
    I want full work snow? (in standard state you will see only solution)
  </footer>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
