<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A brief description of your webpage" />
  <title>Page Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
  <header>
    <h1>Uncertainty Propagator</h1>
    <nav>
      <a href="\">Go to Mainpage</a> |
      <a href="login">Go to Login</a>
      <a href="sighnin">Go to Sighn In</a>
    </nav>
  </header>
  <main>
    <section id="inputs">
      <h2>Write the formula, varibles, units (SI format) and all known uncertainties for the calculation in text or LateX form</h2>
      <div class="column">
        <div>
          <textarea id="input" placeholder="Enter your input:">I have an equation for calculating potential spring energy, c*k*(xi_c-xi_u)^2, such that c=0.5, k=98.0\pm4, xi_c=0.903 and xi_u=0.871, where both xi_c and xi_u have an uncertainty of 0.005</textarea>
        </div>
        <div>
          <button type = "submit" id="Btn_input">SUBMIT</button>
        </div>
      </div>
    </section>
    <section>
      <h2>Console</h2>
      <p id = "console">Console</p>
    </section>
    <section>
      <h2>Output</h2>
        <p style="color:red" id="err"></p>
        <div id="responses" style="display:none">
      <details>
        <summary>Click to open all solution</summary>
        <p id = "sol">Solution</p>
      </details>
      <details>
        <summary>Click to open all equation</summary>
        <p id = "equ">Equation</p>
      </details>
      <p id = "val">0</p>
            </div>
    </section>
  </main>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
